@import "tailwindcss";

@theme {
  --color-edexcel-blue: #003764;
  --color-edexcel-teal: #007fa3;
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-slate-50;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors;
  }
}